.pause-play-icon {
    height: 7rem;
    filter: invert(100%);
}

.timer-content-container{
    color: white;
    background-color: #1f1f1f;
    flex-grow: 1;
}
.minutes-container{
    flex-grow: 1;
}
.button-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 0.3;
}
.minutes-container{
    flex-grow: 1;
}

.timer-container {
    position: fixed;
    left: calc(50% - 23rem);
    top: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 22rem;
    fontVariant: ["tabular-nums"]
    
}