$grey-btn-bg: #626262;
.todo-list-container{
    width: calc(100%);
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.todo-container{
    display: flex;
    flex-direction: row;
    width: calc(100% - 28px);
    background-color: $grey-btn-bg;
    height: 2.5rem;
    width: calc(100% - 38px);
    align-items: center;
    border-radius: 0.4rem;
    gap: 0.5rem;
    white-space: nowrap;
    .checkBox{
        padding-left: 6px;
        padding-top: 7px;
    }
}
.checkBox-container{
    cursor: pointer;
}
.checkBox{
    padding: 0;
    height: 1.8rem;
    filter: invert(100%);
}
.todo-list-container.collapse{
    &> .todo-container > .todo-task-name{
        display: none;
    }
}